/* Added Variables for colors */
* {
    --aquamarine:aquamarine;
    --blue:blue;
    --cadet:cadetblue;
    --water:aqua;
    --purple:purple;
    --corn:cornflowerblue;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--aquamarine);
    flex-direction: row;
    padding: 15px 10px 15px 10px;
    align-items: center;
}

header h1 {
    padding: 5px 1% 5px 6%;
    font-size: 25px;
    margin: 0;
    background-color: var(--water);
}

footer {
    background-color: var(--aquamarine);
    padding: 15px 10px 15px 10px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    display: flex;
    margin: 5rem;
}

.hero {
    height: 200px;
    background-color: var(--blue);
    background-image: url("./images/Tech2.jpg");
    display: flex;
    justify-content: right;
    background-position: center;
    background-size: cover;
    min-height: 30vh;

}

.hero h2 {
    margin: 0;
    padding: 5px 15px;
    font-size: 2.3rem;
}

.side-border {
    margin-right: auto;
}

.section-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0px;
    padding: 10px 0px;
}

.section-styles h2 {
    flex: 0 0 10%;
    text-align: right;
    padding-right: 15px;
    font-size: 50px;
    border-right: 4px solid var(--cadet);
}

.section-styles div{
    flex:0 0 77% ;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    /* background-color: black; */
    /* color: white; */
    font-size: 1.5rem;
    margin-right: 10px;
}

nav a:hover {
    color: var(--purple);
    cursor: pointer;
}

.flex-direction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    display: flex;
    min-height: 150px;
    max-height: 150px;
    color: var(--blue);
    border: 5px solid var(--cadet);
    flex-basis: calc(50% - 1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    transition: all 0.5s;
    margin: 0.5em;
    text-decoration: none;
    font-size: 0.9rem;
    background-size: 150%;
    background-blend-mode: soft-light;
}

.img1 {
    background-image: url("../assets/images/beach1.jpeg");
    background-size: 100%;
}

.img2 {
    background-image: url("../assets/images/Tech1.jpg");
    background-size: 100%;
}

.img3 {
    background-image: url("../assets/images/Tech3.jpg");
    background-size: 100%;
}

.img4 {
    background-image: url("../assets/images/Tech4.jpg");
    background-size: 100%;
}

.img5 {
    background-image: url("../assets/images/Tech6.jpg");
    background-size: 100%;
}


.flex-container {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-styles p {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.section-styles div {
    flex: 0 0 77%
}

.flex-item h3 {
    font-size: 1.6em;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item div {
    padding: 8px 10px;
    background-color: var(--corn);
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
} 

.contact ul li {
    padding: 5px;
    font-size: 1.4rem;
}

/* Added opacity when hovering over images */
.flex-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.resume {
    font-size: 30px;
    color: purple;
    font-family: math;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}